@model Activity

<div class="text-center">
    <h1> Activity </h1><br />
    <form method="post">
        <input type="text" id="activity" name="activity" placeholder="Enter an Activity...">
        <input type="submit">
    </form>
</div>