@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2>"Unlike money, once spent, time can never be recovered or made up"</h2><br />
    <h3>Email: <input type="email"></h3>
    <h3>Password: <input type="password"></h3>
</div>
<br />
<div class="text-center">
    <button type="button">Login</button>
    <button type="button"><a href="https://localhost:44332/Home/NewUser"</a>New User</button>
    <button type="button">Reset Password</button>
</div>